torch==2.5.1
torchvision==0.20.1
transformers==4.50.3
peft==0.15.1
xformers==0.0.28.post3
decord
torchao==0.9.0
ftfy==6.3.1
# git+https://github.com/huggingface/diffuser
opencv-python
wandb[media]
torchdata
omegaconf
diffusers
tensorboard